body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  color: #465b30;
  font-size: 5rem;
  margin: 10px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #465b30;
  font-size: 2rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #465b30;
  font-size: 1.25rem;
}

hr {
  color: #ffebd9;
  text-align: center;
  width: 7%;
  border-style: dotted;
  border-width: 10px 0 0 0;
}

p {
    line-height: 2;
}

a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

ul{
  position:relative;
  display: inline-block;
  list-style: none;
  width:100%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 0;
}

.webd {
  color: #465b30;
  font-size: 1.5rem;
  padding-top: 30px;
}

.intro{
  width:30%;
  margin:20px auto;
}

.top-container {
  background-color: #ecfbfc;
  padding-top: 10px;
}

.middle-container {
  background-color: #ffffff;
}

.bottom-container {
  background-color: #465b30;
  padding-top: 30px;
}

.top-cloud {
  width: 15%;
  position: relative;
  left: 20%;
  margin:0;
}

.bottom-cloud {
  position: relative;
  width: 15%;
  right: 20%;
  margin:0;
}

.mountain-range {
  width: 100%;
  margin-top:-2%;
}

.profile-photo {
  border-radius: 50%;
  margin-top: 50px;
  width: 15%;
}

.skills{
margin: 50px auto;
}

.coding-image {
  width: 15%;
  float: left;
  margin: 20px 30px;
}

.camera-image {
  width: 15%;
  float: right;
  margin: 20px 30px;
}

.pc-image {
  width: 15%;
  float: left;
  margin: 20px 30px;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  padding:20px;
}

.madeStuffDiv {
  width: 50%;
  margin: 20px auto;
  text-align: center;
  padding:10px;
}

.madeStuff{
  color:black;
}


.footer-link{
  color: #ffffff;
  margin:10px 20px;
}

.stuff-link{
  color:#fffff;
}

.footer-notes{
  color: #ffffff;
}

.attribute-links{
  color: #ffffff;
}


a.madeStuff:link{color:black;}
a.madeStuff:visited{color:black;}
a.madeStuff:hover{color:#ffc8bd;}

a.footer-link:link{color: #ffffff;}
a.footer-link:visited{color: #ffffff;}
a.footer-link:hover{color:#ffc8bd }

a.stuff-link:link{color: #ffffff;}
a.stuff-link:visited{color: #ffffff;}
a.stuff-link:hover{color:#ffc8bd }

.contact-me{
  margin: 50px auto;
  width:30%;
}

.copyright{
  font-size: 0.8rem;
  color: #FFFFFF
}
.profile{
  margin-bottom:50px;
}

.BUTTON_RWF {
   background: #465b30;
   background-image: -webkit-linear-gradient(top, #607c42, #465b30);
   background-image: -moz-linear-gradient(top, #607c42, #465b30);
   background-image: -ms-linear-gradient(top, #607c42, #465b30);
   background-image: -o-linear-gradient(top, #607c42, #465b30);
   background-image: -webkit-gradient(to bottom, #607c42, #465b30);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: monospace;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 30px auto;
}

.BUTTON_RWF:hover {
  color:#ffffff;
   background: #465b30;
   border: solid #FFFFFF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
/*
#ecfbfc
#ffebd9
#ffc8bd
#465b30
#374625
*/
